<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/main.css">
    </head>
<head>
  <!--META HTTP-EQUIV="refresh" CONTENT="1"-->
  <h2>{{server_name}}</h2>

  <form action="/updateIP/" method="post">
    <label for="IP-Address">IP-Address:</label>
    <input type="text" id="ip_address" name="ip_address" placeholder={{ip_address}} size="10" required>
    <button type="submit">set</button>
  </form>
</head>

</br>

<body>
  Status Group A: <input type="text" name="statusA" placeholder={{status_string_group_A}} size="30" readonly> 
  last update <input type="time" name="statusTimeA" value={{status_time_group_A}} readonly>
  </br>
  Status Group B: <input type="text" name="statusB" placeholder={{status_string_group_B}} size="30" readonly> 
  last update <input type="time" name="statusTimeB" value={{status_time_group_B}} readonly>
  </br>

  <form action="/both_one_dir_max_now_alternate_med_500/" method="post">
    <label for="FastAction">Fast action:</label>
    <button type="submit">A/B - ONE_DIR_MAX & ALT_MED in 500</button>
  </form>

  <form action="/add_timer/" method="post">
    <label for="Group">Set Group:</label>
    <select name="group_select" id="group_select">
      <option value="both" label="both" SELECTED>A/B</option>
      <option value="A" label="A">A</option>
      <option value="B" label="B">B</option>
    </select>
    to
    <select name="mode_select" id="mode_select">
      <option value="-1" label="None" SELECTED>None</option>
      {% for mode in ventilation_modes %}
        {% if not (mode.name.endswith("_S") or mode.name.endswith("_R")) %}
          <option value="{{mode.value}}" label="{{mode.name}}">{{mode.name}}</option>
        {% endif %}
      {% endfor %}
    </select>
    in <input type="number" name="timerValue" placeholder="0" size="10" step="1" value="0" max="999" required> min 
    <button type="submit" value="set">set</button>
  </form>


  <form action="/remove_timer/" method="post">
    <div class="options-container">
      <p class="list-title">Timer queue for group A</p>
      <ul class="option-list">
        {% for t in timer_list_A %}
        <li class="option">
          <input type="checkbox" name="selected_indices_listA" value="{{loop.index0}}" id="CheckboxA{{loop.index0}}">
          <label for="CheckboxA{{loop.index0}}">{{t}}</label>
        </li>
        {% endfor %}
      </ul>
    </div>
    </br>

    <div class="options-container">
      <p class="list-title">Timer queue for group B</p>
      <ul class="option-list">
        {% for t in timer_list_B %}
        <li class="option">
          <input type="checkbox" name="selected_indices_listB" value="{{loop.index0}}" id="CheckboxB{{loop.index0}}">
          <label for="CheckboxB{{loop.index0}}">{{t}}</label>
        </li>
        {% endfor %}
      </ul>
    </div>

    </br>
    <button type="submit" value="remove" id="submitBtn" style="display: none;">remove selected timer</button>
  </form>

  <a href="{{url_for('index')}}"><input type="button" value="updateStatus"></a>
  </br>
  </br>
  <textarea name="Communication Log" placeholder="{{comm_log}}" cols="60" rows="12" minlength="1" maxlength="500" readonly></textarea>

  <script>
    // JavaScript to hide empty options containers and submit button
    const optionsContainers = document.querySelectorAll('.options-container');
    let isEmpty = true;
  
    optionsContainers.forEach(container => {
      const optionList = container.querySelector('.option-list');
      if (optionList && optionList.children.length === 0) {
        container.style.display = 'none';
      } else {
        isEmpty = false;
      }
    });
  
    const submitButton = document.getElementById('submitBtn');
    if (submitButton) {
      if (!isEmpty) {
        submitButton.style.display = 'inline-block';
      }
    }
  </script>

</body>
</html>
